/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  text-align: center;
}

.list-style{
  box-shadow: 1px 1px 10px 1px #efdcdc;
}
.common-btn,  .quiz-button:hover, .market-btn:hover{
  background: linear-gradient(185deg, rgba(31,160,238,1) 0%, rgba(31,160,238,1) 35%, rgba(57,133,219,1) 100%);
  color: #fff;
}
.nav-item:hover, .nav-link:hover, .common-btn-nav{
  color: #1a8dda;
}   

.selected span, .nav-link:hover span {
  background: #000;
}
a.collection-list.common-btn, .quiz-button:hover, .market-btn:hover {
  border-color: rgba(31,160,238,1);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@keyframes hello1{
  from{
    width: 200px
  }
  to{
    width:100%;

  }
} 

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label, .wrapper-mcq label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  /* border: 2px solid #0079bf; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 13px;
  width: 7px;
  height: 17px;
  border: solid green;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.wrapper-mcq-form [type="radio"]:checked,
.wrapper-mcq-form [type="radio"]:not(:checked), 
.wrapper-mcq-form [type="checkbox"]:checked,
.wrapper-mcq-form [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
}

.wrapper-mcq-form [type="radio"]:checked + label,
.wrapper-mcq-form [type="radio"]:not(:checked) + label,
.wrapper-mcq-form [type="checkbox"]:checked + label,
.wrapper-mcq-form [type="checkbox"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #000;
  border: 1px solid #ddd;
  width: 100%;
  margin-bottom: 8px;
  padding: 10px;
  text-align: left;
  box-shadow: -1px 2px 9px 0px #ddd;
}

.wrapper-mcq-form [type="radio"]:checked + label:after,
.wrapper-mcq-form [type="radio"]:not(:checked) + label:after,
.wrapper-mcq-form [type="checkbox"]:checked + label:after,
.wrapper-mcq-form [type="checkbox"]:not(:checked) + label:after {
  content: '';
  width: 100%;
  height: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
  border: 2px solid;
  color: #2e90e3;

}
.wrapper-mcq-form [type="radio"]:not(:checked) + label:after,
.wrapper-mcq-form [type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.animation{
  animation-name: hello1;
  animation-duration: 0.3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}


.qstn-list {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 8px;
}
 
.qstn-lists {
  display: inline-flex;
  margin: 0 6px 5px 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: bold;
  align-items: center;
  justify-content: center;
}

.bgTime {
  background-color: #1E9FEE;
}

.scroll-to-bottom {
  position: fixed;
  display: inline-flex;
  justify-content: center;
  bottom: 8%;
  left: 1%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 1;
}

.icon-btn{
  margin-top: 10px;
  animation: scrollBottom 0.5s alternate ease infinite;
}


/* .collections{
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 3px;
}

.collections li{
  display: inline-block;
} */

/* Linear loader */

.linear-activity {
  overflow: hidden;
  width: 50%;
  height: 4px;
  background-color: #B3E5FC;
  /* margin: 20px auto; */
}

.indeterminate {
  position: relative;
  width: 100%;
  height: 100%;
}

.indeterminate:before {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #03A9F4;
  animation: indeterminate_first 1.5s infinite ease-out;
}

.indeterminate:after {
  content: '';
  position: absolute;
  height: 100%;
  background-color: #4FC3F7;
  animation: indeterminate_second 1.5s infinite ease-in;
}

@keyframes indeterminate_first {
  0% {
      left: -100%;
      width: 100%;
  }
  100% {
      left: 100%;
      width: 10%;
  }
}

@keyframes indeterminate_second {
  0% {
      left: -150%;
      width: 100%;
  }
  100% {
      left: 100%;
      width: 10%;
  }
}

@keyframes scrollBottom {
  from {
      transform: translateY(2px);
  }
  to {
    transform: translateY(-1px);
  }
}