/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.App {
  text-align: center;
}

.language:hover{
  background-color: #27A7AD;
  border-radius: 10rem;
  color: white;
}
.science:hover{
background-color: #F9541F;
border-radius: 10rem;
color: white;
}
.drama:hover{
background-color: #CDA4FF;
border-radius: 10rem;
color: white;
}
.art:hover{
background-color: #91C874;
border-radius: 10rem;
color: white;
}
.maths:hover{
background-color: #FDCC40;
border-radius: 10rem;
color: white;
}
.gk:hover{
background-color: #79D9EF;
border-radius: 10rem;
color: white;
}
.list-style{
  box-shadow: 1px 1px 10px 1px #efdcdc;
}
.common-btn, .nav-item:hover, .quiz-button:hover, .market-btn:hover{
  background: linear-gradient(185deg, rgba(31,160,238,1) 0%, rgba(31,160,238,1) 35%, rgba(57,133,219,1) 100%);
  color: #fff;
}

.selected span, .nav-link:hover span {
  background: #000;
}
a.collection-list.common-btn, .quiz-button:hover, .market-btn:hover {
  border-color: rgba(31,160,238,1);
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
@keyframes hello1{
  from{
    width: 200px
  }
  to{
    width:100%;

  }
} 

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  /* border: 2px solid #0079bf; */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 8px;
  left: 13px;
  width: 7px;
  height: 17px;
  border: solid green;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}
/* #hideMe {
  -moz-animation: cssAnimation 0s ease-in 3s forwards;
 
  -webkit-animation: cssAnimation 0s ease-in 3s forwards;
  
  -o-animation: cssAnimation 0s ease-in 3s forwards;
  
  animation: cssAnimation 0s ease-in 3s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
      width:0;
      height:0;
      overflow:hidden;
  }
}
@-webkit-keyframes cssAnimation {
  to {
      width:0;
      height:0;
      visibility:hidden;
  }
} */
