@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input {
    @apply h-12 my-2 px-2 focus:outline-none text-lg focus:ring-1 border border-blue-100 rounded;
  }

  .button {
    @apply bg-blue-500 text-white py-2 px-8 rounded shadow-md transition duration-100 ease-in-out;
  }
  .button-link {
    @apply py-2 px-8 border-2 border-blue-400 rounded transition duration-100 ease-in-out;
  }
  .button-link:hover {
    @apply transform translate-y-0.5 shadow-none;
  }
  .button:hover {
    @apply transform translate-y-0.5 shadow-none;
  }
  .nav-item {
    @apply flex justify-center hover:text-white;
  }
  .nav-link {
    @apply font-medium md:text-lg w-full py-4  hover:text-white;
  }
  .option{
    @apply flex justify-center border w-full border-gray-200 shadow-md py-2 text-sm; 
  }
  .my-chat-list {
    @apply flex justify-between border-b border-gray-300 items-center  py-2 rounded cursor-pointer transition hover:bg-gray-50;
  }
  .list-style{
    @apply text-lg p-2 px-3  hover:bg-gray-100	 border-l-4 mb-4 cursor-pointer flex items-center justify-between;
  }
  .practice-list-test{
    @apply p-2  text-xs hover:bg-gray-100	 border-l-4  cursor-pointer border-yellow-600  bg-white text-black  w-full flex  items-center ; 
  }
  
  .leaderboard-img {
    @apply rounded-full md:p-9 p-4;
  }
  .notification-list {
    @apply flex items-center w-full border p-4 mb-4 rounded-tr-2xl rounded-br-2xl bg-white hover:bg-gray-100 hover:shadow-md  
   transition transform hover:-translate-y-1 hover:scale-95;
  }
  .signup-screen-input {
    @apply appearance-none  w-full py-1 text-gray-500 border-b-2 outline-none;
  }
  .signup-screen-label {
    @apply block text-sm font-bold mt-3 text-left bottom-0 text-gray-400;
  }

  .quiz-button {
    @apply float-left flex items-center border border-gray-400 capitalize justify-center rounded text-center md:mr-1  py-1 px-3 text-base;
  }

  .quiz-button:hover, .market-btn:hover, {
    @apply transform translate-y-0.5 shadow-none ;
  }

  .drawer-button {
    @apply text-gray-400 font-medium w-1/2 py-4 border-t border-b flex justify-center items-center hover:text-black
  }

  .quiz-footer {
    @apply px-5 py-3 
  }

  .footer-button {
    @apply float-left flex items-center border border-white capitalize justify-center rounded text-center md:mr-1  py-1 px-3 text-base;
  }

  .save-button {
    @apply rounded py-2 md:px-5 px-3 text-white text-sm md:text-base
  }

  .cancel-button {
    @apply border-2 border-blue-400 md:py-2 rounded md:px-10 px-8 mr-4 text-sm md:text-base
  }

  .collection-list {
    @apply p-2 px-4 hover:bg-gray-100 flex float-left bg-white mr-1 mb-1 rounded-full border-gray-400 border items-center justify-center text-xs md:text-sm
  }
  

  .loader {
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
